@import "tailwindcss";

.card {
  @apply bg-white rounded-lg shadow-lg p-4 transition-shadow duration-300 hover:shadow-xl;
}

.btn {
    @apply inline-flex items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-green-600 focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-primary {
    @apply bg-green-600 text-white hover:bg-green-700;
  }

  .btn-secondary {
    @apply bg-emerald-600 text-white hover:bg-emerald-700;
  }

@keyframes slide-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-slide-text {
  animation: slide-text 15s linear infinite;
}

